---
---

@import "{{ site.theme }}";

.page-header {
  color: #606c71;
  background-color: #dddddd;
  background-image: none;
}

.logo-img {
  margin: auto;
  display: block;
  text-align: center;
  max-width: 600px;
}

.logo-img img {
  width: 100%;
}
