---
---

@import "{{ site.theme }}";
@media all and (max-width: 800px) {
  h1 {
    font-size: 1.5em !important;
  }
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 1em !important;
  }
}
.page-header {
  color: #606c71;
  background-color: #dddddd;
  background-image: none;
  padding: 1.5rem 1rem 1rem;
}

ul{
  list-style-type: none;
  line-height: 2.4em;
}
ul li i{
 text-align: center;
 width: 2.2em;
 color: #159957;
}
